{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <br><h1>Welcome To Dendrite 1.0</h1><hr>
        <p class="alert alert-danger">This Project is currently in Version 1.0 and will omit crucial features. Important Features will be added once the current version is cited as stable</p>
        <p>Dendrite is a complete suite of solutions for managing Supply Chains for small businesses. 
        It brings together the power of Blockchain and tightly integrated ERP solutions to ease the 
        workflow of small startups.</p>
        <h3>Main features:</h3><br>
        <ul class="list-group">
            <li class="list-group-item">Source of truth</li>
            <li class="list-group-item">Quality Assurance</li>
            <li class="list-group-item">Visiblity of the product workflow to customer and others</li>
            <li class="list-group-item">Hack-proof due to the consensus mechanism of blockchain</li>
            <li class="list-group-item">Enables startups to establish a powerful SupplyChain workflow</li>
            <li class="list-group-item">Traceability</li>
        </ul><br><br>
        <h3>Known problems we wish to solve:</h3><br>
        <ul class="list-group">
            <li class="list-group-item"><b>Globalization</b>: For some companies, outsourcing production involves not only a single country,
            but several countries for different parts of their products. Dendrite solves this by creating a 
            safe network on to the internet where various parts of the supplychain can interact and stay on 
            the same page.</li>
            <li class="list-group-item"><b>Quality</b>: Passing quality control and safety tests, startups are also required to prepare compliance 
            documents such as permits, licenses, and certification which can overwhelm them and their supply chain 
            management systems. Dendrite solves this by the blockchain approach,it uses behind the scenes, to maintain
            genuinity and proper legal documents.</li>
        </ul><br>
        <h3>Developers</h3>
        <ul class="list-group">
            <li class="list-group-item">Manas M Hejmadi</li>
            <li class="list-group-item">Yajat V Vishwak</li>
            <li class="list-group-item">Rohan Kumar MV</li>
        </ul><br>
    </div>
{% endblock content %}