<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!--CDN Imports-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--Custom Imports-->
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/main.css')}}">
    {% if name == 'home' %}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/home.css')}}">
    {% elif name == 'login'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/login.css')}}">
    {% elif name == 'register'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/register.css')}}">
    {% elif name == 'vendor'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/vendor.css')}}">
    {% elif name == 'company'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/company.css')}}">
    {% elif name == 'cc'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/cc.css')}}">
    {% elif name == 'ca'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/ca.css')}}">
    {% elif name == 'manufacturer'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/manufacturer.css')}}">
    {% elif name == 'co'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/co.css')}}">
    {% elif name == 'retailer'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/retailer.css')}}">
    {% elif name == 'logistics'%}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/logistics.css')}}">
    {% endif %}
</head>
<body>
    <!--Flash Messages-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if name != "co" and name !="login" and name != "register" and name != "cc"%}
        <!--Navigation Bar-->
        <div class="snav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('homepage')}}">Dendrite 1.0</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    {% if current_user.role == "Manufacturer" %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manufacturer Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('createasset')}}">Create Asset</a>
                        <a class="dropdown-item" href="#">Transfer Asset</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('create_contract')}}">Create Contract</a>
                    </div>
                    {% else %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    {% endif %}
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                {% if current_user.is_authenticated %}
                <input type="button" value="Click Here to Logout" onclick="window.location.href = '{{url_for('logout')}}';" class="btn btn-outline-danger my-2 my-sm-0">
                {% else %}
                <input type="button" value="Click Here to Login" onclick="window.location.href = '{{url_for('loginpage')}}';" class="btn btn-outline-primary my-2 my-sm-0">
                {% endif %}
                {% if name == "cc" %}
            
                {% endif %}
                {% if current_user.role == "Vendor" and name != "cc"%}
                <input type="button" value="Create Contract" class="btn btn-warning cc" onclick="window.location.href = '{{url_for('create_contract')}}'">
                {% endif %}
                </form>
            </div>
            </nav>
        </div>
    {% endif %}
    <!--Body Content-->
    {% block content %}
    {% endblock content %}
</body>
</html>