{% extends 'layout.html' %}
{% block content %}
<div class="main">
{% if current_user.role in ("Manufacturer", "Logistics", "Retailer") %}
    <div class="cd-fixed-bg cd-fixed-bg--1">
        <div class="stickypage">
           <h1 class="display-4">Add Production Details</h1><hr>
            <br>
            <form action="" method="post" class="frm">
                {{ form.hidden_tag()}} 
                <label for="">Enter the Department name:</label>
                {% if form.asset_name.errors %}
                    {{ form.asset_name(class="form-control is-invalid", placeholder="Enter Department Name") }}
                    <div class="invalid-feedback">
                        {% for error in form.asset_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.asset_name(class="form-control", placeholder="Enter Department Name") }}
                {% endif %}
                <br>
                <label for="">Enter the Metadata</label>
                {% if form.metadata.errors %}
                    {{ form.metadata(class="form-control", cols="35", rows="20") }}
                    <div class="invalid-feedback">
                        {% for error in form.metadata.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.metadata(class="form-control", cols="35", rows="10") }}
                {% endif %}
                <br>
                {{form.submit(class="btn btn-success btn-block")}}
            </form>
        </div>
    </div> 
{% else %}
<h1>This Page is only accessible by either a Manufacturer, Logistics Agent or a Retailer.</h1>
{% endif %}
</div>
{% endblock content %}